#aboutme {

	@media (min-width: $screen-sm) {
		padding-left:20px ;
		padding-right: 20px;
	}

	.wrapper {

		padding-top: 55px;

		h2 {
			@include firsextra_light(40px);
			color: #2239ac;
			text-align: center;

			@media (min-width: $screen-sm) {
				text-align: left;
			}

		}

		h3 {
			margin-top: 10px;
			@include helvetika_light(16px);
			color: #aeaeae;
			text-align: center;

			@media (min-width: $screen-sm) {
				text-align: left;
			}
		}


		.descr {

			margin-top: 60px;
			padding-left: 10px;
			padding-right: 10px;



			.text-holder {

				p {
					margin-bottom: 30px;
					@include helvetika_light(14px);
					color: #333333;
					line-height: 23px;

				}


				hr {
					border-color: #2239ac;
				}

			}//text-holder


			.photo-holder {
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				img {
					width: 100%;
					border-radius: 50%;

				}
			}


			@media (min-width: $screen-sm) {
				& > div {
					float: left;
				}

				& > .photo-holder {
					width: 50%;

					padding-left: 10px;
					padding-right: 0;

				}

				& > .text-holder {
					width: 50%;
				}
			}



		}//descr

		.sertificates {

			margin-top: 30px;

			h3 {
				margin-bottom: 20px;
				@include firsextra_light(25px);
				color:#aeaeae;
				text-align: center;

				@media (min-width: $screen-sm) {
					text-align: left;
				}
			}

			.s-holder {

				a {
					display: inline-block;

					width: 49%;
					img {
						width: 100%;
						display: block;

					}
				}

			}//s-holder

		}//sertificates

	}//wrapper

}//#aboutme