#client {
	
	background: url("/images/clients_xxs_backgraund.jpg")  100% 100% no-repeat;
	background-size: cover;
	-webkit-background-size:cover;
	@media (min-width: $screen-xs) {
		background: url("/images/clients_xs_backgraund.jpg")  100% no-repeat;
	}


	@media (min-width: $screen-sm) {
		background: url("/images/clients_sm_backgraund.jpg")  100% no-repeat;
	}

	@media (min-width: $screen-md) {
		background: url("/images/clients_md_backgraund.jpg")  100% no-repeat;
		background-attachment: fixed;
	}

	@media (min-width: $screen-lg) {
		background: url("/images/clients_backgraund.jpg")  100% no-repeat;
		background-attachment: fixed;
	}

		.mask {
		padding-top: 75px;
		padding-bottom: 70px;
		background: url("/images/header_mask_bg.png");

		@media (min-width: $screen-sm) {
			padding-left: 20px;
			padding-right: 20px;
		}


		@media (min-width: $screen-lg) {

			padding-right: 0;
			padding-left: 0;

			& > .wrapper {

				@include max_size;
			}
		}

		.wrapper {


			h2 {
				@include firsextra_light(40px);
				color: white;
				text-align: center;

				@media (min-width: $screen-sm) {
					text-align: left;
				}

			}

			h3 {
				margin-top: 0;
				@include helvetika_light(16px);
				color: #aeaeae;
				text-align: center;

				@media (min-width: $screen-sm) {
					text-align: left;
				}
			}

			.pic-holder {
				text-align: center;
				line-height: 75px;
				width: 100%;
				margin-top: 40px;
				span {
					display: inline-block;
					padding-left: 10px;
					padding-right: 10px;
					text-align: center;
					img {

					}
				}


				@media (min-width: $screen-sm) {
					display: table;
					text-align: justify;

					span {
						display: table-cell;
					}

				}

			}
			//.pic-holder

		}
		//wrapper

	}//mask

}//#clients