#client {
	
	background: url("/images/clients_backgraund.jpg") no-repeat center; 
	background-size: cover;



	.mask {
		padding-top: 70px;
		padding-bottom: 70px;
		background: url("/images/header_mask_bg.png");

		@media (min-width: $screen-sm) {
			padding-left: 20px;
			padding-right: 20px;
		}

		.wrapper {

			h2 {
				@include firsextra_light(40px);
				color: white;
				text-align: center;

				@media (min-width: $screen-sm) {
					text-align: left;
				}

			}

			h3 {
				margin-top: 10px;
				@include helvetika_light(16px);
				color: #aeaeae;
				text-align: center;

				@media (min-width: $screen-sm) {
					text-align: left;
				}
			}

			.pic-holder {
				text-align: center;
				line-height: 90px;
				span {
					padding-left: 10px;
					padding-right: 10px;
					img {

					}
				}

			}
			//.pic-holder

		}
		//wrapper

	}//mask

}//#clients