#popup {

	position: fixed;
	z-index: 20;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	top: 0;
	background-color: white;

	.content {
		padding: 20px 10px;
		.top-cross {
				text-align: right;
			span {
				display: inline-block;
				text-align: center;
				line-height: 32px;
				width: 40px;
				height: 40px;
				font-size: 36px;
				color: #2239ac;
				border: 1px solid  #2239ac;

				&:hover {
					cursor: pointer;
				}
			}
		}//top-cross


		.info {
			padding-bottom: 30px;
			.head {

				h3 {
					@include firsextra_bold(28px);
					color: #2239ac;
				}


				p {
					color: #282828;
					@include helvetika_light(18px);
				}
			}//head

			.descr {

				p{
					color: #282828;
					@include helvetika_light(14px);
				}
			}//descr


			.foto-holder {

				.thumb-holder {

					span {
						display: block;
						margin-bottom: 10px;
						img {
							display: block;
							width: 100%;
						}
					}

				}//thumb-holder


				.big-photo {
					display: none;
					img {


					}
				}

			}//foto-holder


		}//info

		.button-holder {
			text-align: center;
			button {
				height: 46px;
				line-height: 46px;
				width: 60%;
				border-radius: 0;
				border:0;
				background-color: #2239ac;
				color:white;
				@include helvetika_light(16px);
			}

		}//button-holder



	}//content

/* -------------------------------- media query sections  --------------------------------*/
	@media (min-width: $screen-sm) {
		.content {
			position: relative;

			.top-cross {
				position: absolute;
				width: 100%;
				top:0;
				span {
					margin-top: 10px;
					margin-right: 20px;
				}
			}
			//top cros

			.info {
				max-width: 800px;
				margin-right: auto;
				margin-left: auto;
				.head {

				}

				.descr {

				}

				.foto-holder {

					.thumb-holder {

						span {
							display: block;
							float: left;
							width: 30%;
							margin-right: 5%;
							position: relative;
							overflow: hidden;

							&:hover {
								cursor: pointer;
							}

							&:last-child {
								margin-right: 0;
							}

							.mask {
								background: url("/images/portfolio_mask_bg.png");
								height: 100%;
								width: 100%;
								top:-100%;
								display: block;
								position: absolute;
								transition: top 0.1s;
							}

							&.active {
								.mask {
									top:0;
								}
							}


							img {
								display: block;
								max-width: 100%;

							}
						}

					}

					.big-photo {

						display: block;

						img{
							display: block;
							width: 100%;

						}
					}

				}//foto-holder
			}
			//info
		}
	}//media sm
}