#portfolio {

	background: #f1f1f1 url(/images/triangle_white_porfolio.svg) 20% center no-repeat;

	background-size: cover;

	.container {
		padding-top: 55px;
		padding-bottom: 30px;
		width: 100%;

		@media (min-width: $screen-sm) {
			padding-right: 5px;
			padding-left: 5px;
		}


		@media (min-width: $screen-md) {
			padding-top: 75px;
			padding-bottom: 50px;
		}


		@media (min-width: $screen-lg) {
			@include max_size;


			& > div {

				padding-left: 0;
				padding-right: 0;
			}
		}


		div {


			h2{
				@include firsextra_light(40px);
				color:#2239ac;
				text-align: center;

				@media (min-width: $screen-sm) {
					text-align: left;
				}
			}


			h3 {
				margin-top: 0;
				@include helvetika_light(16px);
				color:#aeaeae;
				text-align: center;

				@media (min-width: $screen-sm) {
					text-align: left;
				}

			}

			.portfolio-holder {

				margin-top: 40px;

				.project {
						margin-bottom: 20px;


					@media (min-width: $screen-xs) {
						width: 50%;
						float: left;

						&:nth-child(odd){
							padding-right: 10px;
						}


						&:nth-child(even){
							padding-left: 10px;
						}
					}


					@media (min-width: $screen-md) {
						width: 31%;
						margin-right:3.5%;

						&:nth-child(odd){
							padding-right: 0;
						}


						&:nth-child(even){
							padding-left: 0;
						}

						&:nth-child(3n+3){
							margin-right: 0;
						}

					}

					a {
						display: block;
						width: 100%;
						position: relative;
						overflow: hidden;
						img {
							border: 1px solid #e1e1e1;
							display: block;
							width: 100%;
						}


						.out_mask {
							position: absolute;
							height: 100%;
							width: 100%;
							top: 0;
							opacity: 0;
							background: url("/images/portfolio_mask_bg.png");


							.dsc {
								width: 100%;
								position: absolute;
								bottom: 0;
								text-align: center;
								padding-bottom: 25px;
								height: 0;

								span {
									display:block;



									&.title {
										@include firsextra_light(25px);
										color: white;
									}

									&.icon-holder {
										display: inline-block;
										color: white;
										width: 40px;
										height:40px;
										line-height: 36px;
										opacity: 0;

										span {
											display: block;
											img {
												border:none;
											}
										}

										@media (min-width: $screen-lg) {
											margin-bottom: 20px;
										}
									}

									&:last-child {
										@include helvetika_light(13px);
										color: #4bc2ff;
									}
								}
							}

						}//out_mask

						@media (min-width: $screen-md) {

							.out_mask {
								transition: opacity 0.3s;
								transition-timing-function: linear;
								.dsc {


									span {

										&.title {

										}
									}

								}
							}

							&:hover {

								.out_mask {

									opacity:1;

									.dsc {
										transition-delay:0.0s ;
										transition-duration: 0.5s;
										height: 120px;

										span {

											&.icon-holder {

												opacity: 1;
											}


											&.title {


											}
										}
									}

								}

							}//hover

						}//media md


						@media (min-width: $screen-lg) {

							&:hover {

								.out_mask {

									.dsc {

										height: 150px;

									}
								}
							}
						}

					}//a


				}//.project

				@media (min-width: $screen-md) {

					margin-top: 55px;

					& > .project {
						margin-bottom: 30px;
					}


				}//media md

			}//.portfolio-holder

		}//div


	}//.container

}//#portfolio