#service {
	
	background: url("/images/services-bg.jpg") center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	.top {
		padding-top: 80px;
		padding-bottom: 80px;
		background: url("/images/header_mask_bg.png");
		h3 {
			@include firsextra_light(40px);
			color: white;
			text-align: center;
		}

		p {
			@include helvetika_light(16px);
			color: white;
			text-align: center;
			padding-left: 20px;
			padding-right: 20px;
		}

	}//top


	.bottom {

		background-color: #f1f1f1;
		padding-left: 10px;
		padding-right: 10px;
		.wrap {

			padding-top: 55px;

			h2 {
				@include firsextra_light(40px);
				color: #2239ac;
				text-align: center;
			}

			h3 {
				margin-top: 10px;
				@include helvetika_light(16px);
				color: #aeaeae;
				text-align: center;
			}

			.service-holder {
				margin-top: 30px;
				text-align: center;
				line-height: 100px;
				span {
					padding-right: 5px;
					padding-left: 5px;
					img {

					}
				}

			}
			//.service-holder

		}//wrap

	}//bottom


}//@service