#service {
	
	background: url("/images/services-bg.jpg") center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	.top {
		padding-top: 80px;
		padding-bottom: 80px;
		background: url("/images/header_mask_bg.png");


		h3 {
			@include firsextra_light(40px);
			color: white;
			text-align: center;
		}

		p {
			@include helvetika_light(16px);
			color: white;
			text-align: center;
			padding-left: 20px;
			padding-right: 20px;
		}



		@media (min-width: $screen-lg) {

			& > h3, & > p {
				@include max_size;
			}
		}

	}//top


	.bottom {

		background-color: #f1f1f1;
		padding-left: 10px;
		padding-right: 10px;
		@media (min-width: $screen-lg) {
			padding-left: 0;
			padding-right: 0;
		}


		.wrap {

			padding-top: 55px;


			@media (min-width: $screen-sm) {
				padding-left: 20px;
				padding-right: 20px;
			}

			@media (min-width: $screen-lg) {
				@include max_size;
			}


			h2 {
				@include firsextra_light(40px);
				color: #2239ac;
				text-align: center;

				@media (min-width: $screen-sm) {
					text-align: left;
				}

			}

			h3 {
				margin-top: 10px;
				@include helvetika_light(16px);
				color: #aeaeae;
				text-align: center;

				@media (min-width: $screen-sm) {
					text-align: left;
				}
			}

			.service-holder {
				margin-top: 30px;
				text-align: center;
				line-height: 100px;
				span {
					padding-right: 10px;
					padding-left: 10px;
					display: inline-block;

					&:first-child {
						padding-left: 0;
					}

					&:last-child {
						padding-right: 0;
					}

					@media (min-width: $screen-sm) {
						padding-right: 10px;
						padding-left: 10px;
					}



					img {

					}
				}

			}
			//.service-holder

		}//wrap

	}//bottom


}//@service