@import '_bootstrap';

@import '_fonts';



/*--------------------- my code begining ------------------*/

@mixin max_size{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 30px;
	padding-left: 30px;
}

* {
	margin:0;
	padding: 0;
}

body {
	position: relative;

	h1, h2, h3, h4 {
		margin-bottom: 0;
		margin-top: 0;
	}

	//& > * {
	//	overflow: hidden;
	//}
}


@import '_top-menu';

@import '_header';

@import '_portfolio';

@import '_services';

@import '_aboutme';

@import '_clients';

@import '_contacts';

@import '_footer';

/*------------------------- popup section --------------------------*/

@import "_popup";

@import "_loader";

