@import '_fonts';

@import '_bootstrap';

@import '_top-menu';

@import '_header';

@import '_footer';

* {
	margin:0;
	padding: 0;
}

body {
	position: relative;

	h1, h2, h3, h4 {
		margin-bottom: 0;
		margin-top: 0;
	}
}

